@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
    background-color: #050505;
    color: #f0f2f5;
  }

  body {
    background-color: #050505;
    color: #f0f2f5;
  }
}
